# Sub in snapPERL.pl is called to build option hash. Makes it more readable 
# (1. Only use = when entering options for hash) (2. Every option should be followed with a comment)
# All white space, empty lines, lines without an = in and lines starting with # are ignored when parsed

## Email Options
emailSend=0                                                   #Send email?
emailAddress=youremail@email.com                              #Email address
emailSendAddress=youremail@email.com                          #Email address to show has being sent from
emailUseSmtp=0                                                #Use none sendmail or external smtp if not using gmail 
emailSmtpAddress=smtp.yourisp.com                             #SMTP address to use (Needed if emailUseSmtp set)

## Gmail settings
useGmail=0                                                    #Use Gmail to send mail 
gmailPass=yourgmailpass                                       #Gmail password to use... Recomend using app passwords on 2 factor auth -> https://security.google.com/settings/security/apppasswords
  
## Pushover Options
pushOverSend=0                                                #Send pushover alerts? - Not currently active
pushOverKey=##############################                    #Pushover user key
pushOverToken=##############################                  #Pushover app token
pushOverUrl=https://api.pushover.net/1/messages.json          #Pushover url to send messages

## Notify my Android options
nmaSend=0                                                     #Send NMA alerts - Not currently active

## Pushbullet options
pushBulletSend=0                                              #Send pushbullet alerts - Not currently active
  
## Sync and Scrub options
deletedFiles=50                                               #Max amount of deleted files to auto sync
changedFiles=500                                              #Max amount of changed files to auto sync
scrubDays=7                                                   #Number of days before scrub is run 
scrubOldest=30                                                #Max oldest block before scrub is run if using 'new' plan on sync (v9.0 on)
scrubAge=10                                                   #Data older than days
scrubPercentage=8                                             #Percentage of array to scrub
useScrubNew=1                                                 #Scrub new data from sync and verify. (Supported in versions 9.0+ of snapraid).
  
## Smart options
smartLog=1                                                    #Check and log Smart data. 
smartWarn=70                                                  #Chance of fail percentage (whole array) to send warnings
smartDiskWarn=50                                              #Chance of fail percentage (disk) to send warnings
 
## Snapraid options
snapRaidConf=/etc/snapraid.conf                               #Location of snapraid conf file
 
## Binary locations
snapRaidBin=/usr/local/bin/snapraid                           #Snapriad binary location
curlBin=/usr/bin/curl                                         #Curl binary location - Not currently used

## Other Options
spinDown=0                                                    #Spindown array once script completed?
pool=0                                                        #Run pool command if valid config option found?
logFile=/tmp/snapPERL.log                                     #Logfile location (If not running as root must be writeable)
logLevel=3                                                    #Level of logging (1=Critical, 2=Warning, 3=Info, 4=Everything, 5=Debug)
logStdout=1                                                   #If set to 1 sends log file to stdout (Not very useful when run via cron :P).
useCustomCmds=0                                               #Load custom pre and post commands from custom-cmds file (optional feature)
